:root {
  --purple: rgb(119, 44, 126);
  --paper: rgb(255, 255, 235);
  --paper-highlight: rgb(233, 233, 210);
  --token: rgb(114, 104, 87);
  --good: rgb(52, 76, 185);
  --evil: rgb(153, 9, 9);
  --text: rgb(94, 69, 54);
  --button: rgb(230, 230, 230);
  --button-border: rgb(192, 192, 192);
}

html {
    background-color:var(--purple);
    height: 100%;
    color: var(--text);
}

#close_popup{
    position: fixed;
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.5);
}

#close_popup.hidden{
    width: 0;
    height: 0;
}

#popup{
    background-color: var(--paper);
    padding: 30px;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 3px solid var(--paper-highlight);
    z-index: 10;
}

#popup.hidden{
    padding: 0px;
    border-width: 0px;
}

#notes_table{
    background-color: var(--paper);
    width: fit-content;
    border-radius: 10px;
    border: 5px solid var(--paper-highlight);
    padding: 10px;
    margin: auto;
}

#notes_table input[type="text"]{
    background-color: var(--paper-highlight);
    width: 100px;
    text-align: center;
    border-style: solid;
    border-color: var(--paper-highlight);
    border-radius: 2px;
}

button, select {
    background-color: var(--button);
    border: 2px solid var(--button-border);
    border-radius: 5px;
}

.Townsfolk, .Outsiders { color: var(--good); }
.Minions, .Demons { color: var(--evil); }

.underline { text-decoration: underline; }

.left { text-align: left; }
.right { text-align: right;}

table {
  border-collapse: separate;
  border-spacing: 0px 5px;
}

td, th { padding: 2px 5px; }

td.good { border-bottom: 3px solid rgb(198, 198, 255); }

td.evil { border-bottom: 3px solid rgb(255, 177, 177); }

#night_order_table td, #night_order_table th {
    width: 150px;
}

.token {
    border: 2px solid var(--paper-highlight);
    background-color: var(--token);
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    color: white;
}

#nav_buttons, #other_notes {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
}

#nav_buttons button {
    width: 150px;
    height: 30px
}

input, label {
    margin-top: 5px;
    margin-bottom: 5px;
}

form {
    margin: 0px
}
